.mask-root {
    .mask-layer {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, .6);
        z-index: 222;
        overflow: hidden;
        &.show {
            width: 100vw;
            height: 100vh;
        }
    }

    .mask-content {
        // position: relative;
        z-index: 101;
    }
}