.m-top-nav {
    background: #fff;
    .m-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .m-box-col {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            display: block;
            &.nav-main {
                overflow: hidden;
                width: .01rem;
            }
            .scroll-box {
                overflow: auto;
                -webkit-overflow-scrolling: touch; // display: none;
                .nav-item {
                    white-space: nowrap;
                    li {
                        display: inline-block;
                        line-height: .88rem;
                        font-size: .28rem;
                        width: 1.875rem;
                        text-align: center;
                        span {
                            display: block;
                        }
                    }
                    .m-cur {
                        span {
                            font-weight: 600; // color: #d8a352;
                            position: relative;
                            em {
                                position: absolute;
                                bottom: 0;
                                left: .5925rem;
                                height: .06rem;
                                width: .69rem;
                                background: #ee4d2e;
                                border-radius: .03rem;
                            }
                        }
                    }
                }
            }
        }
    }
}